@model Dominio.ModelosDominio.ProspectoDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prospecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCodigoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCodigoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtroProfesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtroProfesional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombresCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombresCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreIdentatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreIdentatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaExpedición)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaExpedición)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibretaMilitar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibretaMilitar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barrio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionResidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionResidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrientacionSexual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrientacionSexual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoblacionMigrante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoblacionMigrante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloEstudioApostillado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloEstudioApostillado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTituloApostillado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTituloApostillado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConoceTramite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConoceTramite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JefeHogar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JefeHogar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonasDependenEconomicamente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonasDependenEconomicamente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieneHijos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieneHijos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienePersonasAcargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienePersonasAcargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenciaConduccionCarro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenciaConduccionCarro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenciaConduccionMoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenciaConduccionMoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienciaLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienciaLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaExperienciaLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaExperienciaLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentosCertificanExperiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentosCertificanExperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContinuarProcesoOrientacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContinuarProcesoOrientacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioCreación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioCreación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioModifcacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioModifcacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBasesPoliticasPublicasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBasesPoliticasPublicasNavigation.BasPolPubNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoriaLicenciaCarroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaLicenciaCarroNavigation.CatLicNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoriaLicenciaMotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaLicenciaMotoNavigation.CatLicNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCertificadoPoblacionalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCertificadoPoblacionalNavigation.CerPobNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCiudadExpedicionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCiudadExpedicionNavigation.CiuCodigoDane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCiudadResidenciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCiudadResidenciaNavigation.CiuCodigoDane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCondicionDiscapacidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCondicionDiscapacidadNavigation.ConDisNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoCivilNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoCivilNavigation.EstCivNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.EstNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdExperienciaLaboralNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdExperienciaLaboralNavigation.TieExpLabNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFuenteNavigation.FueAteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoEtnicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoEtnicoNavigation.GruEtnNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdIdentidadGeneroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdIdentidadGeneroNavigation.IdeGenNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLocalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLocalidadNavigation.LocNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModoAtencionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModoAtencionNavigation.ModAteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMotivoNoContinuarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMotivoNoContinuarNavigation.MotNoContNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNacionalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNacionalidadNavigation.NacNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumeroHijosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumeroHijosNavigation.NumHijNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesionalRegistroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesionalRegistroNavigation.ProRegNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSexoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSexoNavigation.SexNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSituacionActualNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSituacionActualNavigation.SitActNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTiempoCesanteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTiempoCesanteNavigation.TieCesNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoDocumentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoDocumentoNavigation.TipDocNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPermisoTrabajoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPermisoTrabajoNavigation.TipPerTraNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPersonaCuidadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPersonaCuidadoNavigation.TipPerCuiNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPoblacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPoblacionNavigation.TipPobNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoRegistroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoRegistroNavigation.TipRegNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoZonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoZonaNavigation.TipZonNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehiculoPropioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehiculoPropioNavigation.VehProNombre)
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
